In [1]:
import pandas as pd
import numpy as np
import os #required to list file names in folder to load them into dataframes
import glob #check if this is still required

#Required for Public holidays
from datetime import date
import holidays #dont worry about installing the add-on

In [2]:
df_source_SKUs = pd.read_csv('input_skus_str.csv')
df_SKU_lookup = pd.read_csv('df_SKU_lookup.csv')
df_inv_mast = pd.read_csv('df_inv_mast.csv',encoding='UTF-8')

In [3]:
df_source_SKUs.head()

       0
0  32166
1  32322
2  33146
3  33151
4  33582

In [4]:
df_source_SKUs.shape

(1245, 1)

In [5]:
df_source_SKUs.columns = ["SKUstr"]

In [6]:
df_source_SKUs.head()

  SKUstr
0  32166
1  32322
2  33146
3  33151
4  33582

In [7]:
df_source_SKUs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1245 entries, 0 to 1244
Data columns (total 1 columns):
SKUstr    1245 non-null object
dtypes: object(1)
memory usage: 9.9+ KB

In [8]:
df_SKU_lookup.head()

   SKUstr  SKUint
0  312996  312996
1  323294  323294
2  337140  337140
3  340663  340663
4  356699  356699

In [9]:
df_SKU_lookup.shape

(1270, 2)

In [10]:
df_SKU_lookup.tail(100)

                   SKUstr   SKUint
1170                38918    38918
1171               390169   390169
1172               390546   390546
1173               390573   390573
1174               390575   390575
...                   ...      ...
1265               399822   399822
1266               399853   399853
1267               399980   399980
1268  S080501_1500_30_EUR  3169823
1269   S080501_500_30_EUR  3169822

[100 rows x 2 columns]

In [11]:
df_inv_mast.head()

   SKUint  TotalUnits  TotalRev      AWP                     Category
0   32166           1   1569.42  1569.42                       LENTES
1   32322           1    134.89   134.89                        OTHER
2   33146           1    408.00   408.00                       LENTES
3   33151           1    295.00   295.00  OBJETIVOS CÁMARAS DIGITALES
4   33582           1     23.14    23.14                        OTHER

In [12]:
# ALREADY WORKING this is the lookup public holidays - which works when you use it with an apply function 
def public_holiday(row): 
    """
    Input: Date
    Output: 1 or 0 if the specific date is a public holiday or not.
    
    The purpose of this function is to determine if the date is a public holiday in Spain (ES)
    """
    es_holidays = holidays.CountryHoliday('ES', years=[2017])
    return(row.date_dt in es_holidays)
#df_working['date_isPublicHol'] = df_working.apply(public_holiday, axis=1).astype(int) #was isPublicHol

In [13]:
#Spits out a single row dataframe with the features extracted.
def dt_feature_extraction(dt):
    
    global df
    
    lst = []
    lst.append([dt])

    df = pd.DataFrame(lst)    
    df.columns = ['Date']    
    
   
    df['date_dt']= pd.to_datetime(df['Date']) #was dttime
    df['date_DoW'] = df['date_dt'].dt.day_name() #was day_of_week
    df['date_DoWnum'] = df['date_dt'].dt.dayofweek
    df['date_DoM'] = df['date_dt'].dt.day # was day_of_month
    df['date_WoY'] = df['date_dt'].dt.week #was WeekNum_of_year
    df['date_isWeekend'] = np.where(df['date_DoW'].isin(['Sunday','Saturday']),1,0) # was isWeekend    
    df['date_isPublicHol'] = df.apply(public_holiday, axis=1).astype(int) #was isPublicHol    

    dummy = pd.get_dummies(df['date_DoW'])

    df = df.merge(dummy, left_index=True , right_index=True)
    
    dict_days = {}
    for i in df['date_DoW'].unique():
        dict_days[i] = 'is' + i  
    
    df.rename(columns=dict_days, inplace=True)
    
    #df.drop(['Date'], axis=1, inplace=True) # This string field is no longer as we have 
                                                #the Day of the Month and we know all transactions occured in March.
    #df.drop(['date_DoW'], axis=1, inplace=True) # No longer needed thanks to Dummy Variables.
    #df.drop(['date_dt'], axis=1, inplace=True)
    
    return df

dt_feature_extraction('2017-04-01')

,Date,date_dt,date_DoW,date_DoWnum,date_DoM,date_WoY,date_isWeekend,date_isPublicHol,isSaturday
0,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1

In [14]:
df_intermediate = (pd.merge(df_source_SKUs, df_SKU_lookup, on='SKUstr'))

In [15]:
df_intermediate.shape

(1270, 2)

In [16]:
df_final = (pd.merge(df_intermediate, df_inv_mast, on="SKUint"))

In [17]:
df_final.head(50)

,SKUstr,SKUint,TotalUnits,TotalRev,AWP,Category
0,32166,32166,1,1569.42,1569.420000,LENTES
1,32322,32322,1,134.89,134.890000,OTHER
2,33146,33146,1,408.00,408.000000,LENTES
3,33151,33151,1,295.00,295.000000,OBJETIVOS CÁMARAS DIGITALES
4,33582,33582,1,23.14,23.140000,OTHER
5,33583,33583,1,9.46,9.460000,OTHER
6,33588,33588,1,296.69,296.690000,LENTES
7,34924,34924,7,861.98,123.140000,OTHER
8,37679,37679,1,7.81,7.810000,CF
9,38917,38917,1,40.50,40.500000,PRISMÁTICOS
10,38918,38918,1,73.55,73.550000,FOTOGRAFÍA / VÍDEO OUTLET
11,310027,310027,2,742.14,371.070000,LENTES
12,310052,310052,1,7.81,7.810000,OTHER
13,310758,310758,1,7.43,7.430000,OTHER
14,310852,310852,2,57.86,28.930000,SDHC
15,311623,311623,4,541.84,135.460000,MICROONDAS
16,311701,311701,1,1817.35,1817.350000,LENTES
17,312460,312460,1,4.00,4.000000,OTHER
18,312805,312805,1,20.66,20.660000,OTHER
19,312996,312996,1,60.01,60.010000,OTHER
20,313675,313675,1,12.90,12.900000,OTHER
21,314202,314202,1,40.50,40.500000,CAMARA DIGITAL
22,314243,314243,1,230.58,230.580000,PRISMÁTICOS
23,314878,314878,1,32.32,32.320000,OTHER
24,314890,314890,1,21.93,21.930000,OTHER
25,315470,315470,5,144.75,28.950000,OTHER
26,315775,315775,1,124.61,124.610000,PLACAS DE COCINA
27,315776,315776,1,123.74,123.740000,PLACAS DE COCINA
28,315934,315934,2,181.22,90.610000,TERMO ELÉCTRICO
29,316049,316049,1,92.47,92.470000,HORNOS Y MICROONDAS
30,316248,316248,1,27.38,27.380000,OTHER
31,316802,316802,1,12.16,12.160000,OTHER
32,316806,316806,2,30.70,15.350000,OTHER
33,316901,316901,3,663.87,221.290000,SIEMENS
34,316912,316912,1,192.31,192.310000,HORNO
35,317070,317070,4,618.64,154.660000,OTHER
36,317126,317126,1,29.99,29.990000,OTHER
37,317173,317173,1,28.29,28.290000,BATIDORA COCINA
38,317239,317239,1,28.93,28.930000,OTHER
39,317246,317246,1,52.34,52.340000,OTHER
40,317318,317318,1,32.69,32.690000,OTHER
41,317405,317405,1,28.51,28.510000,FILTRO FOTO
42,317789,317789,3,791.24,263.746667,LENTES
43,317909,317909,1,74.54,74.540000,CAMPANA DE EXTRACCION
44,317916,317916,2,133.62,66.810000,CAMPANA DE EXTRACCION
45,318059,318059,1,175.35,175.350000,INDESIT
46,318108,318108,1,95.22,95.220000,SALUD Y BELLEZA
47,318925,318925,1,794.38,794.380000,LENTES
48,319180,319180,1,83.29,83.290000,ENCIMERA
49,319181,319181,1,62.53,62.530000,ENCIMERA

In [18]:
df_final.shape

(1270, 6)

In [19]:
df_temp = dt_feature_extraction('2017-04-01')
df_temp.columns

Index(['Date', 'date_dt', 'date_DoW', 'date_DoWnum', 'date_DoM', 'date_WoY',
       'date_isWeekend', 'date_isPublicHol', 'isSaturday'],
      dtype='object')

In [20]:
df_temp['Date']

0    2017-04-01
Name: Date, dtype: object

In [21]:
df_final.head()

  SKUstr  SKUint  TotalUnits  TotalRev      AWP                     Category
0  32166   32166           1   1569.42  1569.42                       LENTES
1  32322   32322           1    134.89   134.89                        OTHER
2  33146   33146           1    408.00   408.00                       LENTES
3  33151   33151           1    295.00   295.00  OBJETIVOS CÁMARAS DIGITALES
4  33582   33582           1     23.14    23.14                        OTHER

In [23]:
for column in df_temp.columns:
    df_final[column] = df_final.apply(lambda row: df_temp[column], axis=1)

# df_final[['Date', 'date_dt', 'date_DoW', 'date_DoWnum', 
#           'date_DoM', 'date_WoY', 'date_isWeekend', 
#           'date_isPublicHol', 'isSaturday']] = df_final.apply( 
#     lambda row: pd.Series(dt_feature_extraction('2017-04-01')), axis=1)
df_final

,SKUstr,SKUint,TotalUnits,TotalRev,AWP,Category,Date,date_dt,date_DoW,date_DoWnum,date_DoM,date_WoY,date_isWeekend,date_isPublicHol,isSaturday
0,32166,32166,1,1569.42,1569.42,LENTES,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
1,32322,32322,1,134.89,134.89,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
2,33146,33146,1,408.00,408.00,LENTES,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
3,33151,33151,1,295.00,295.00,OBJETIVOS CÁMARAS DIGITALES,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
4,33582,33582,1,23.14,23.14,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1265,3164880,3164880,48,1944.00,40.50,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
1266,3165735,3165735,2,3460.76,1730.38,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
1267,3169821,3169821,1,365.39,365.39,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
1268,S080501_500_30_EUR,3169822,123,120.54,0.98,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1
1269,S080501_1500_30_EUR,3169823,6,17.64,2.94,OTHER,2017-04-01,2017-04-01,Saturday,5,1,13,1,0,1